.dropdown{
    width :200px;
    height: 30px;
    margin : 0 auto;
    position: relative;
    user-select: none;
}
.dropdown .dropdown-btn{
    padding: 7px 15px;
    background:#fff;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight:bold;
    font-size: 16px;
    color : #333;
    display: flex;
    cursor:pointer;
    align-items: center;
    justify-content: space-between;
}

.dropdown .dropdown-content{
    position:absolute;
    padding: 10px;
    left: 0;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: 300;
    font-size: 16px;
    color:#333;
    width: 100%;
}
.dropdown .dropdown-content .dropdown-item:hover{
    padding:5px;
    cursor:pointer;
    transition:all 0.2s;

}

.dropdown .dropdown-content .dropdown-item:hover{
    background: #8feaea;
}