.App {
  background-color: #b8e3ff;
  width: 650px;
  height: 650px;
  text-align: center;
  margin-left:10%;
  justify-content : center;
}

.Box{
  /*스크롤사용해서 height 늘어나지 않게*/
  width: 450px;
  height: 650px;
  justify-content : center;
  text-align: center;
  margin-top: 50px;


}
